.header-control-panel {
  width: 300px;
  height: 64px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #2196F3;
}

.header-field__img {
  width: 80px;
  height: 39px;
}
