@font-face {
  font-family: SceneW01-Black;
  src: url(../../assets/fonts/12309.ttf);
}
html {
  font-size: 10px;
}

.page {
  position: relative;
  background-color: #a7e1ff;
}

.btn {
  background-color: #70cb0e;
  border: 0px;
  border-radius: 25.5px;
  color: #000;
  height: 51px;
  font-family: Roboto, sans-serif;
  font-size: 1.8rem;
  cursor: pointer;
  outline: none;
}

.btn:hover {
  box-shadow: inset 0px 0px 10px rgba(0, 0, 0, 0.5);
}

.btn:active {
  box-shadow: inset 0px 0px 25px rgba(0, 0, 0, 0.8);
}

/* header ------------------------------------------------------------------------------------------------------------ */

.header {
  width: 1920px;
  display: flex;
  flex-direction: column;
  justify-content: start;
  margin: auto;
  transition: 2s;
  transition-timing-function: cubic-bezier(-0.5, -1.5, 0.1, 1.5);
}

.header__flex {
  width: 1160px;
  height: 80px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin: 0 auto -80px;
  z-index: 5;
  transition: 2s;
  transition-timing-function: cubic-bezier(-0.5, -1.5, 0.1, 1.5);
}

.hidden-heading {
  position: absolute;
  visibility: hidden;
  z-index: -999;
}

.header__logo {
  margin-right: 57px;
}

.header__logo-img {
  width: 112px;
  height: 57px;
}

.header__nav {
  display: flex;
  align-items: center;
  width: 409px;
  justify-content: space-between;
}

.nav__list {
  display: flex;
  align-items: center;
  width: 409px;
  justify-content: space-between;
}

.nav__item {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 1.8rem;
  line-height: 21.09px;
  letter-spacing: normal;
  color: #000;
  text-decoration: none;
}

.nav__item:hover {
  text-shadow: 1px 1px 3px #70cb0e55;
}

.nav__item-highlighted {
  text-shadow: 1px 1px 0 #70cb0e, 1px -1px 0 #70cb0e, -1px 1px 0 #70cb0e,
    -1px -1px 0 #70cb0e, 0px 1px 0 #70cb0e, 1px -0px 0 #70cb0e,
    -1px 0px 0 #70cb0e, -0px -1px 0 #70cb0e;
  pointer-events: none;
}

.header__burger {
  display: none;
}

@media (max-width: 1919px) {
  .header {
    width: 1200px;
  }
}

@media (max-width: 1199px) {
  .header {
    width: 640px;
  }
  .header__flex {
    width: 600px;
    transition-timing-function: cubic-bezier(-0.5, -1.5, 0.1, 1.5);
  }
  .header__logo {
    margin-right: 50px;
  }
}

@media (max-width: 639px) {
  .header {
    width: 320px;
  }

  .header__flex {
    width: 300px;
    justify-content: space-between;
  }

  .header__nav {
    display: none;
  }

  .header__burger {
    display: initial;
    cursor: pointer;
  }
}

/* Map ------------------------------------------------------------------------------------------------------------ */

.map {
  width: 100vw;
  /* width: 1920px; */
  box-sizing: border-box;
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #a7e1ff;
  overflow: hidden;
}

.map__img {
  width: 1160px;
  height: 745px;
  margin-top: 180px;
  transition: 0.5s;
  overflow: hidden;
}

.map__icons {
  position: relative;
  z-index: 3;
}

.map__pointers {
  position: relative;
}

.map__item {
  width: 64px;
  height: 64px;
  border-radius: 50%;
  margin-bottom: 8px;
  position: absolute;
  display: flex;
  align-items: center;
  transition: 0.5s;
}

.map__item:hover .item__logo {
  transition: 0.5s;
}

.map__item_selected {
  box-shadow: none;
}

.map__tooltip {
  position: relative;
  display: flex;
  justify-items: center;
  align-items: center;
  min-width: fit-content;
  margin: 0;
  display: none;
  z-index: 10;
}

.map__item:hover .map__tooltip {
  display: flex;
}

.tooltip__tip {
  width: 9px;
  height: 9px;
}

.tooltip__text-wrapper {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: fit-content;
  /* min-width: 102px; */
  min-height: 47px;
  height: fit-content;
  background: #70cb0e;
}

.tooltip__text {
  box-sizing: border-box;
  padding: 0 11px;
  white-space: nowrap;
  min-width: 102px;
  text-align: center;
  font-family: Roboto, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 1.6rem;
  line-height: 19px;
  color: #000;
}

.tooltip__link {
  text-decoration: none;
}

.tooltip__btn {
  width: 147px;
  height: 40px;
  background-color: #ffb600;
  border-radius: 20px;
  display: none;
  text-decoration: none;
}

.map__word {
  display: flex;
  position: relative;
  justify-items: center;
  align-items: center;
  min-width: fit-content;
  height: 47px;
  margin: 7px;
  font-family: Roboto, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 1.6rem;
  line-height: 19px;
  text-align: center;
  color: #000000;
}

.map__item:hover .map__word {
  display: none;
}

.map__word_eagle {
  position: relative;
  top: 0px;
  left: -127px;
}

.item_alligator {
  top: 585px;
  left: -280px;
}
.item_panda {
  top: 589px;
  left: 342px;
}
.item_eagle {
  top: 576px;
  left: -503px;
}
.item_gorilla {
  top: 685px;
  left: 75px;
}
.item_zoom {
  position: absolute;
  top: 857px;
  right: 00px;
}

.item_country-name {
  font-family: Roboto, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 1.6rem;
  line-height: 19px;
  text-align: center;
  transition: 0.5s;
}

.item_text-1 {
  position: absolute;
  top: 558px;
  left: -379px;
}
.item_text-2 {
  position: absolute;
  top: 705px;
  left: -67px;
}
.item_text-3 {
  position: absolute;
  top: 571px;
  left: 252px;
}

.item__logo {
  display: block;
  width: 64px;
  height: 64px;
  border-radius: 50%;
  background-repeat: no-repeat;
  background-position: center;
}

.logo_alligator {
  background-image: url(../../assets/icons/alligator.png);
}

.logo_panda {
  background-image: url(../../assets/icons/panda.png);
}

.logo_eagle {
  background-image: url(../../assets/icons/eagle.png);
}

.logo_gorilla {
  background-image: url(../../assets/icons/gorilla.png);
}

.logo_alligator:hover {
  background-image: url(../../assets/icons/alligator_selected.png);
}

.logo_panda:hover {
  background-image: url(../../assets/icons/panda_selected.png);
}

.logo_eagle:hover {
  background-image: url(../../assets/icons/eagle_selected.png);
}

.logo_gorilla:hover {
  background-image: url(../../assets/icons/gorilla_selected.png);
}

@media (max-width: 1919px) {
  .map {
    width: 100vw;
    /* width: 1200px; */
  }

  .map__img {
    width: 1160px;
    height: 745px;
  }

  .item_zoom {
    top: 857px;
  }

  .item_alligator {
    top: 582px;
    left: -280px;
  }
  .item_panda {
    top: 583px;
    left: 342px;
  }
  .item_eagle {
    top: 573px;
    left: -506px;
  }
  .item_gorilla {
    top: 683px;
    left: 75px;
  }
}

@media (max-width: 1199px) {
  .map {
    width: 100vw;

    /* width: 640px; */
  }

  .map__img {
    width: 933px;
    height: 600px;
  }

  .map__item {
    transition: none;
  }

  .item_country-name {
    transition: none;
  }

  .item_zoom {
    top: 712px;
  }

  .item_alligator {
    top: 491px;
    left: -221px;
  }
  .item_panda {
    top: 486px;
    left: 275px;
  }
  .item_gorilla {
    top: 571px;
    left: 60px;
  }

  .item_eagle {
    position: absolute;
    top: 496px;
    left: -417px;
  }

  .tooltip__text-wrapper {
    padding: 0;
    width: 169px;
    height: 100px;
  }

  .tooltip__btn {
    display: unset;
  }

  .item_text-1 {
    position: absolute;
    top: 479px;
    left: -309px;
  }
  .item_text-2 {
    position: absolute;
    top: 610px;
    left: -64px;
  }
  .item_text-3 {
    position: absolute;
    top: 497px;
    left: 195px;
  }
}

@media (max-width: 639px) {
  .map {
    width: 100vw;
    /* width: 320px; */
  }

  .map__img {
    position: relative;
    left: 118px;
    bottom: 1px;
  }

  .map__item {
    transition: none;
  }

  .item_country-name {
    transition: none;
  }

  .item_alligator {
    left: -102px;
  }

  .item_gorilla {
    left: 180px;
  }

  .item_panda {
    left: 336px;
  }

  .item_eagle {
    left: -300px;
  }

  .item_text-1 {
    top: 476px;
    left: -198px;
  }

  .item_text-2 {
    left: 55px;
  }

  .item_text-3 {
    left: 305px;
  }

  .item_zoom {
    right: 0px;
  }
}
/* .map__icons {
  position: relative;
}


  .map__pointers {
    position: relative;
  }
  
  .map__item {
    border-radius: 50%;
    width: 64px;
    height: 64px;
    margin-bottom: 8px;
    position: absolute;
    display: flex;
    align-items: center;
  }
  
  .map__item:hover .item__logo {
    transition: 0.5s;
  }
  
  .map__item_selected {
    box-shadow: none;
  }
  
  .map__tooltip {
    position: relative;
    display: flex;
    justify-items: center;
    align-items: center;
    min-width: fit-content;
    height: 47px;
    margin: 0;
    display: none;
  }
  
  .map__item:hover .map__tooltip {
    display: flex;
  }
  
  .tooltip__tip {
    width: 9px;
    height: 9px;
  }
  
  .tooltip__text {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-width: 102px;
    width: fit-content;
    height: 47px;
    background: #70cb0e;
  }
  
  .tooltip__text {
    text-align: center;
    font-family: Roboto, sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 1.6rem;
    line-height: 19px;
    color: #000;
  }
  
  .map__word {
    display: flex;
    position: relative;
    justify-items: center;
    align-items: center;
    min-width: fit-content;
    height: 47px;
    margin: 7px;
    font-family: Roboto, sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 1.6rem;
    line-height: 19px;
    text-align: center;
    color: #000000;
  }
  
  .map__item:hover .map__word {
    display: none;
  }
  
  .map__word_eagle {
    position: relative;
    top: 0px;
    left: -125px;
  }


  .item_country-name {
    font-family: Roboto, sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 1.6rem;
    line-height: 19px;
    text-align: center;
  }
  .item__logo {
    display: block;
    width: 64px;
    height: 64px;
    border-radius: 50%;
    background-repeat: no-repeat;
    background-position: center;
  } */

/* main ------------------------------------------------------------------------------------------------------------ */

.main__article {
  width: 1920px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: auto;
  box-sizing: border-box;
}

.article__heading {
  text-align: center;
  font-family: Roboto, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 4rem;
  line-height: 47px;
  color: #000;
}

.text_uppercase {
  text-transform: uppercase;
}

@media (max-width: 1919px) {
  .main__article {
    width: 1200px;
  }
}

@media (max-width: 1199px) {
  .main__article {
    width: 640px;
  }
}

@media (max-width: 639px) {
  .main__article {
    width: 320px;
  }
}

/* footer ------------------------------------------------------------------------------------------------------------ */

.footer {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 80px auto 0;
  padding-top: 20px;
  position: relative;
  background-image: url(../../assets/images/footer_bg_1920.png);
  background-repeat: no-repeat;
  background-position-x: center;
  background-position-y: 2px;
}

.footer__background-wrap {
  width: 100%;
  position: relative;
  background-color: #dff5b0;
}

.footer__bg {
  width: 1920px;
  height: 700px;
  position: absolute;
  z-index: 1;
  overflow: hidden;
}

.footer__grid {
  width: 1160px;
  height: 170px;
  padding: 80px 0 20px;
  margin: 0 auto 0;
  display: grid;
  grid-template-areas:
    "zoo-logo button button ul-1 ul-2"
    "rss-logo yem-logo copyright copyright reference";
  grid-template-columns: 198px 174px 218px 256px auto;
  grid-template-rows: 46px auto;
}

.footer__logo {
  grid-area: zoo-logo;
}

.footer__logo-img {
  width: 98px;
  height: 50px;
}

.btn_action_donate {
  grid-area: button;
  width: 230px;
  height: 50px;
}

.footer__nav {
  width: 345px;
  grid-area: ul-1;
  list-style-type: none;
}

.footer__nav-item {
  display: block;
  float: left;
  width: 49%;
  margin-bottom: 15px;
}

.footer__nav-link {
  font-family: Roboto, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 1.8rem;
  line-height: 21px;
  color: #000;
  text-decoration: none;
}

.footer__nav-link:hover {
  text-shadow: 1px 1px 3px #59c3fb;
}

.footer__contacts {
  grid-area: ul-2;
  display: flex;
  justify-self: end;
}

.contacts__img {
  margin-left: 10px;
}

.contacts__img:hover {
  border-radius: 50%;
  box-shadow: 1px 1px 7px #59c3fb;
}

.footer__rss-logo {
  grid-area: rss-logo;
  align-self: end;
}

.footer__yem-logo {
  grid-area: yem-logo;
  align-self: end;
}

.footer__copyright {
  grid-area: copyright;
  align-self: end;
  font-family: Roboto, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 1.8rem;
  line-height: 21px;
  color: #000;
}

.footer__reference {
  grid-area: reference;
  align-self: end;
  justify-self: end;
  font-family: Roboto, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 1.8rem;
  line-height: 21px;
  color: #000;
}

@media (max-width: 1919px) {
  .footer {
    background-image: url(../../assets/images/footer_bg_1200.png);
    background-position-y: -47px;
  }
  .footer__bg {
    width: 1200px;
  }
}

@media (max-width: 1199px) {
  .footer {
    background-image: url(../../assets/images/footer_bg_1200.png);
    background-position-y: -47px;
    background-position-x: center;
    background-size: 200%;
  }

  .footer__bg {
    width: 640px;
  }

  .footer__grid {
    width: 640px;
    height: 359px;
    box-sizing: border-box;
    padding: 80px 20px 20px;
    grid-template-areas:
      "zoo-logo ul-1 ul-1 ul-2"
      "rss-logo rss-logo yem-logo button"
      "reference reference reference reference"
      "copyright copyright copyright copyright";
    grid-template-columns: 155px 61px 150px 234px;
    grid-template-rows: 107px 100px 23px 38px;
  }

  .footer__btn {
    justify-self: end;
  }

  .btn_action_donate {
    width: 207px;
  }

  .footer__nav {
    width: 210px;
    justify-self: start;
  }

  .contacts__img {
    margin-left: 10px;
  }

  .footer__rss-logo {
    grid-area: rss-logo;
    align-self: start;
    justify-self: start;
  }

  .footer__yem-logo {
    grid-area: yem-logo;
    align-self: start;
    justify-self: start;
  }

  .footer__copyright {
    align-self: center;
    justify-self: center;
  }

  .footer__reference {
    align-self: center;
    justify-self: center;
  }
}

@media (max-width: 639px) {
  .footer {
    background-image: url(../../assets/images/footer_bg_1200.png);
    background-position-y: 0px;
    background-position-x: 3px;
    background-size: 100%;
  }

  .footer__bg {
    width: 320px;
  }

  .footer__grid {
    width: 320px;
    height: 742px;
    box-sizing: border-box;
    padding: 80px 10px 20px;
    grid-template-areas:
      "zoo-logo zoo-logo"
      "ul-1 ul-1"
      "button button"
      "ul-2 ul-2"
      "rss-logo yem-logo"
      "reference reference"
      "copyright copyright";
    grid-template-columns: auto auto;
    grid-template-rows: 100px 179px 100px 90px 101px 31px 42px;
    justify-items: center;
    justify-content: center;
  }

  .footer__btn {
    margin-right: -4px;
  }

  .btn_action_donate {
    width: 207px;
    align-self: center;
    justify-self: center;
    position: relative;
    left: 46px;
  }

  .footer__nav {
    width: 210px;
    justify-self: center;
    text-align: center;
    display: flex;
    flex-direction: column;
  }

  .footer__nav-item {
    float: initial;
    width: 100%;
    margin-bottom: 15px;
  }

  .footer__nav-item:nth-child(2) {
    order: 2;
  }

  .footer__nav-item:nth-child(3) {
    order: 1;
  }

  .footer__nav-item:nth-child(4) {
    order: 3;
  }

  .footer__nav-link {
    font-family: Roboto, sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 1.8rem;
    line-height: 21px;
    color: #000;
    text-decoration: none;
  }

  .footer__contacts {
    justify-self: center;
    column-gap: 10px;
  }

  .contacts__img {
    margin-left: 0px;
  }

  .footer__rss-logo {
    grid-area: rss-logo;
    justify-self: start;
  }

  .footer__yem-logo {
    grid-area: yem-logo;
    justify-self: end;
  }

  .footer__copyright {
    width: 220px;
    align-self: center;
    justify-self: center;
    text-align: center;
  }

  .footer__reference {
    align-self: start;
  }

  .footer__copyright_and {
    display: none;
  }
}
