@font-face {
  font-family: SceneW01-Black;
  src: url(../../assets/fonts/12309.ttf);
}
html {
  font-size: 10px;
}

.page {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: auto;
}

/* header ------------------------------------------------------------------------------------------------------------ */

.header {
  width: 1920px;
  display: flex;
  flex-direction: column;
  justify-content: start;
  margin: auto;
  transition: 2s;
  transition-timing-function: cubic-bezier(-0.5, -1.5, 0.1, 1.5);
}

.header__flex {
  width: 1160px;
  height: 80px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin: 0 auto -80px;
  z-index: 5;
  transition: 2s;
  transition-timing-function: cubic-bezier(-0.5, -1.5, 0.1, 1.5);
}

.hidden-heading {
  position: absolute;
  visibility: hidden;
  z-index: -999;
}

.header__logo {
  margin-right: 57px;
}

.header__logo-img {
  width: 112px;
  height: 57px;
}

.header__nav {
  display: flex;
  align-items: center;
  width: 409px;
  justify-content: space-between;
}

.nav__list {
  display: flex;
  align-items: center;
  width: 409px;
  justify-content: space-between;
}

.nav__item {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 1.8rem;
  line-height: 21.09px;
  letter-spacing: normal;
  color: #000;
  text-decoration: none;
}

.nav__item:hover {
  text-shadow: 1px 1px 3px #70cb0e55;
}

.nav__item-highlighted {
  text-shadow: 1px 1px 0 #70cb0e, 1px -1px 0 #70cb0e, -1px 1px 0 #70cb0e,
    -1px -1px 0 #70cb0e, 0px 1px 0 #70cb0e, 1px -0px 0 #70cb0e,
    -1px 0px 0 #70cb0e, -0px -1px 0 #70cb0e;
  pointer-events: none;
}

@media (max-width: 1919px) {
  .header {
    width: 1200px;
  }
}

@media (max-width: 1199px) {
  .header {
    width: 640px;
  }
  .header__flex {
    width: 600px;
    transition-timing-function: cubic-bezier(-0.5, -1.5, 0.1, 1.5);
  }
  .header__logo {
    margin-right: 50px;
  }
}

/* main ------------------------------------------------------------------------------------------------------------ */

.main__article {
  width: 1920px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: auto;
  box-sizing: border-box;
}

.article__heading {
  text-align: center;
  font-family: Roboto, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 4rem;
  line-height: 47px;
  color: #000;
}

.text_uppercase {
  text-transform: uppercase;
}

@media (max-width: 1919px) {
  .main__article {
    width: 1200px;
  }
}

@media (max-width: 1199px) {
  .main__article {
    width: 640px;
  }
}

/* Watch your favorite animal online ------------------------------------------------------------------------------------------------------------ */

.top__background-wrap {
  background: #59c3fb;
}

.main__top {
  width: 1920px;
  height: 700px;
  display: flex;
  flex-direction: column;
  margin: auto;
  align-items: center;
}

.top__content {
  width: 1160px;
  margin-top: 210px;
  z-index: 5;
  transition: 2s;
}

.top__heading {
  width: 570px;
  height: 180px;
  font-family: "SceneW01-Black", sans-serif;
  font-style: normal;
  font-weight: 900;
  font-size: 7rem;
  line-height: 84px;
  letter-spacing: 0.03em;
  color: #000;
  transition: 1.5s;
}

.btn {
  background-color: #70cb0e;
  border: 0px;
  border-radius: 25.5px;
  color: #000;
  height: 51px;
  font-family: Roboto, sans-serif;
  font-size: 1.8rem;
  cursor: pointer;
  outline: none;
  transition: 0.6s all;
}

.carousel__btn:hover,
.btn:hover {
  box-shadow: inset 0px 0px 10px rgba(0, 0, 0, 0.5);
}

.carousel__btn:active,
.btn:active {
  box-shadow: inset 0px 0px 25px rgba(0, 0, 0, 0.8);
}

.btn_action_play {
  margin-top: 122px;
  width: 233px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.btn_text-style_none {
  text-decoration: none;
}

.btn_correct-pos_play {
  margin-left: 1px;
  position: relative;
  left: 4.5px;
}

.top__background {
  box-sizing: border-box;
  width: 1920px;
  height: 700px;
  padding: 0 380px;
  position: absolute;
  background: radial-gradient(
      71.89% 152.21% at 40.1% 50%,
      #b5e6ff 0%,
      #59c3fb 100%
    ),
    no-repeat;
  z-index: 1;
  overflow: hidden;
  transition: 2s;
}

.background__drops-1 {
  z-index: 4;
  position: absolute;
  right: 282px;
  bottom: -36px;
  transition: 1s;
  transition-timing-function: cubic-bezier(0.1, -0.5, 0.1, 1.5);
}

.background__drops-1_add-1 {
  z-index: 4;
  position: absolute;
  right: 897px;
  bottom: 459px;
  opacity: 100%;
  transition: 1s;
  transition-timing-function: cubic-bezier(0.1, -0.5, 0.1, 1.5);
}

.background__drops-1_add-2 {
  z-index: 4;
  position: absolute;
  right: 371px;
  bottom: 469px;
  opacity: 0%;
  transition: 1s;
  transition-timing-function: cubic-bezier(0.1, -0.5, 0.1, 1.5);
}

.background__panda-0 {
  width: 693px;
  height: 645px;
  z-index: 3;
  position: absolute;
  bottom: 0;
  right: 361px;
  transition: 1.5s;
  transition-timing-function: cubic-bezier(0, 0, 0.23, 1);
}

.background__drops-2 {
  z-index: 2;
  position: absolute;
  left: 219px;
  bottom: -25px;
  transition: 1s;
  transition-timing-function: cubic-bezier(0.1, -0.5, 0.1, 1.5);
}

@media (max-width: 1919px) {
  .main__top {
    width: 1200px;
  }
  .top__background {
    width: 1200px;
    padding: 0px;
  }

  .background__drops-1 {
    right: -80px;
    bottom: -5px;
  }

  .background__drops-1_add-1 {
    right: 535px;
    bottom: 488px;
  }

  .background__panda-0 {
    bottom: 0;
    right: -14px;
  }

  .background__drops-2 {
    left: -180px;
    bottom: 5px;
  }
}

@media (max-width: 1199px) {
  .main__top {
    width: 640px;
  }

  .top__content {
    width: 600px;
    margin-top: 150px;
  }

  .top__heading {
    width: 450px;
    font-size: 5rem;
    line-height: 60px;
    letter-spacing: 0.03em;
    color: #000;
  }

  .btn_action_play {
    width: 188px;
    margin-top: 50px;
  }

  .top__background {
    width: 640px;
    padding: 0px;
  }

  .background__drops-1 {
    right: -174px;
    bottom: 6px;
  }

  .background__drops-1_add-1 {
    opacity: 0%;
  }

  .background__drops-1_add-2 {
    opacity: 100%;
  }

  .background__panda-0 {
    right: -141px;
    bottom: -11px;
  }

  .background__drops-2 {
    left: -550px;
    bottom: 5px;
  }
}

/* How it works ------------------------------------------------------------------------------------------------------------ */

.carousel-1__heading {
  margin-top: 100px;
}

.carousel-1_bg-wrapper {
  width: 100vw;
  margin-top: 32px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-image: url(../../assets/images/hiw_bg.png);
  background-repeat: no-repeat;
  background-position: center;
  background-position-y: -4px;
  overflow: hidden;
}

.carousel-1__list {
  width: 1370px;
  height: 549px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  transition: 0.7s;
  overflow: hidden;
}

.carousel-1__img {
  width: 250px;
  height: 350px;
}

.img_m {
  width: 300px;
  height: 400px;
  margin: 0 -20px;
  transition: 0.7s;
}

.img_l {
  width: 350px;
  height: 450px;
}

.item_mid {
  z-index: 3;
}

.item_up {
  z-index: 5;
}

.carousel-1__text {
  width: 933px;
  left: calc(50% - 933px / 2 - 0.5px);
  margin: 30px auto 0;
  font-family: Roboto, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 1.6rem;
  line-height: 132%;
  text-align: center;
  color: #000;
  transition: 0.7s;
}

.carousel-1__text_br-2 {
  display: none;
}

@media (max-width: 1919px) {
  .carousel-1__list {
    width: 1170px;
  }
  .img_m {
    margin: 0 -70px;
  }
}

@media (max-width: 1199px) {
  .carousel-1__text {
    width: 540px;
  }
  .carousel-1__text_br-1 {
    display: none;
  }
  .carousel-1__text_br-2 {
    display: unset;
  }
}

/* Pets in zoo ------------------------------------------------------------------------------------------------------------ */

.carousel-2__heading {
  margin-top: 200px;
}

.carousel-2__block {
  box-sizing: border-box;
  width: 1160px;
  height: 630px;
  margin: 80px auto 0;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
  row-gap: 29px;
}

.carousel-2__wrapper {
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: space-between;
  column-gap: 20px;
}

.carousel__btn {
  width: 63px;
  height: 63px;
  background-color: #ffe68e;
  border: 0px;
  border-radius: 31.5px;
  cursor: pointer;
  outline: none;
  transition: 0.6s shade;
}

.carousel-2__img-wrapper {
  height: 630px;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: space-between;
}

.carousel-2__img-link {
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 233px;
  position: relative;
}

.carousel-2__img {
  width: 233px;
  height: 300px;
  transition: 0.6s;
  transition-timing-function: ease-out;
}

.img__capture {
  width: 100%;
  position: absolute;
  text-align: center;
  top: 15px;
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 1.6rem;
  line-height: 19px;
  color: #ffffff;
  z-index: 6;
  transition: 0.6s all;
  transition-timing-function: ease-out;
}

.carousel-2__img-link:hover .img__capture {
  width: 110%;
  font-size: 1.8rem;
  z-index: 100;
}

.carousel-2__img-link:hover .carousel-2__img {
  width: 253px;
  height: 330px;
  margin: -15px -10px -15px -10px;
  z-index: 4;
}

.btn_action_choose {
  width: 286px;
  margin-top: 50px;
}

@media (max-width: 1199px) {
  .carousel-2__block {
    width: 640px;
    height: 724px;
    flex-wrap: wrap;
  }

  .carousel-2__wrapper {
    width: 600px;
  }

  .carousel-2__img-wrapper {
    flex-basis: 33.3%;
  }

  .carousel-2__img-wrapper_last {
    overflow: hidden;
  }

  .carousel-2__img-link {
    width: 187px;
    position: relative;
  }

  .carousel-2__img {
    width: 187px;
    height: 300px;
    object-fit: cover;
  }

  .carousel-2__img-link:hover .carousel-2__img {
    width: 207px;
    height: 330px;
  }

  .carousel__btn {
    order: 1;
  }
}

/* Pay and feed ------------------------------------------------------------------------------------------------------------ */

.scheme__heading {
  margin-top: 200px;
}

.scheme__wrapper {
  width: 1050px;
  height: 280px;
  margin-top: 100px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
}

.scheme__wrapper:before {
  width: 204px;
  height: 51px;
  display: block;
  position: absolute;
  left: 264px;
  top: -11px;
  content: "";
  background-image: url(../../assets/images/arrow_high_1200_1920.png);
  background-repeat: no-repeat;
}

.scheme__wrapper::after {
  width: 168px;
  height: 35px;
  position: absolute;
  display: block;
  right: 265px;
  bottom: 96px;
  content: "";
  background-image: url(../../assets/images/arrow_low_1200_1920.png);
  background-repeat: no-repeat;
}

.scheme__figure {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.scheme__img {
  padding: 35px;
  margin: -40px;
  background-image: url(../../assets/images/scheme_bg.png);
  background-repeat: no-repeat;
  background-position-x: 2px;
  background-position-y: 15px;
}

.img__figcaption {
  width: 320px;
  margin-top: 43px;
  font-family: Roboto, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 1.6rem;
  line-height: 19px;
  text-align: center;
  color: #000000;
}

@media (max-width: 1199px) {
  .scheme__wrapper {
    width: 546px;
    height: 590px;
    margin-top: 115px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    column-gap: 92px;
  }

  .scheme__wrapper:before {
    width: 215px;
    height: 81px;
    left: 179px;
    top: -59px;
    background-image: url(../../assets/images/arrow_high_640.png);
  }

  .scheme__wrapper::after {
    width: 169px;
    height: 281px;
    right: -1px;
    bottom: 177px;
    background-image: url(../../assets/images/arrow_low_640.png);
  }

  .img__figcaption {
    width: 192px;
  }
}

/* Testimonials ------------------------------------------------------------------------------------------------------------ */

.testimonials__heading {
  margin-top: 172px;
}

.testimonials__block {
  box-sizing: border-box;
  width: 1160px;
  margin: 80px auto 0;
  display: flex;
  align-items: center;
  justify-content: center;
  column-gap: 20px;
  row-gap: 30px;
}

.testimonials__wrapper {
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: space-between;
  column-gap: 20px;
  overflow: hidden;
}

.testimonials__user_grid {
  box-sizing: border-box;
  width: 233px;
  height: 369px;
  padding: 22px 20px 20px;
  display: grid;
  grid-template-areas:
    "user_img user_info"
    "user_speech user_speech";
  grid-template-columns: 52px 131px;
  grid-template-rows: 52px 257px;
  background-color: #a7e1ff;
  column-gap: 10px;
  row-gap: 18px;
}

.testimonials__user_img {
  grid-area: user_img;
}

.testimonials__user_info {
  width: 100%;
  height: 52px;
  grid-area: user_info;
  align-self: start;
  display: flex;
  flex-direction: column;
  justify-content: center;
  row-gap: 4px;
}

.testimonials__user_name {
  font-family: Roboto, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 1.6rem;
  line-height: 19px;
  color: #000;
}

.testimonials__money_logo {
  box-sizing: border-box;
  width: 12px;
  height: 12px;
  margin-right: 1px;
  position: relative;
  top: 2px;
}

.testimonials__money_summ {
  font-family: Roboto, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 1.2rem;
  line-height: 14px;
  color: #000;
}

.testimonials__user_speech {
  grid-area: user_speech;
  font-family: Roboto, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 1.6rem;
  line-height: 19.2px;
  color: #000;
}

.btn_action_feedback {
  margin-top: 50px;
  width: 246px;
}

@media (max-width: 1199px) {
  .testimonials__heading {
    margin-top: 178px;
  }

  .testimonials__block {
    width: 640px;
    height: 522px;
    flex-wrap: wrap;
  }

  .testimonials__wrapper {
    width: 600px;
    height: 429px;
  }

  .testimonials__user_grid {
    width: 187px;
    height: 429px;
    padding: 20px;
    grid-template-columns: 52px 87px;
    grid-template-rows: 52px 135px;
    column-gap: 8px;
    row-gap: 23px;
  }

  .testimonials__user_grid_last {
    overflow: hidden;
  }

  .testimonials__user_info {
    /* height: 52px; */
    align-self: start;
    justify-content: start;
    row-gap: 3px;
  }

  .carousel__btn {
    order: 1;
  }

  .btn_action_feedback {
    width: 226px;
  }
}

/* footer ------------------------------------------------------------------------------------------------------------ */
.footer {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 80px auto 0;
  padding-top: 20px;
  position: relative;
  background-image: url(../../assets/images/footer_bg_1920.png);
  background-repeat: no-repeat;
  background-position-x: center;
  background-position-y: 2px;
}

.footer__background-wrap {
  width: 100%;
  position: relative;
  background-color: #dff5b0;
}

.footer__bg {
  width: 1920px;
  height: 700px;
  position: absolute;
  z-index: 1;
  overflow: hidden;
}

.footer__grid {
  width: 1160px;
  height: 170px;
  padding: 80px 0 20px;
  margin: 0 auto 0;
  display: grid;
  grid-template-areas:
    "zoo-logo button button ul-1 ul-2"
    "rss-logo yem-logo copyright copyright reference";
  grid-template-columns: 198px 174px 218px 256px auto;
  grid-template-rows: 46px auto;
}

.footer__logo {
  grid-area: zoo-logo;
}

.footer__logo-img {
  width: 98px;
  height: 50px;
}

.btn_action_donate {
  grid-area: button;
  width: 230px;
  height: 50px;
}

.footer__nav {
  width: 345px;
  grid-area: ul-1;
  list-style-type: none;
}

.footer__nav-item {
  display: block;
  float: left;
  width: 49%;
  margin-bottom: 15px;
}

.footer__nav-link {
  font-family: Roboto, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 1.8rem;
  line-height: 21px;
  color: #000;
  text-decoration: none;
}

.footer__nav-link:hover {
  text-shadow: 1px 1px 3px #59c3fb;
}

.footer__contacts {
  grid-area: ul-2;
  display: flex;
  justify-self: end;
}

.contacts__img {
  margin-left: 10px;
}

.contacts__img:hover {
  border-radius: 50%;
  box-shadow: 1px 1px 7px #59c3fb;
}

.footer__rss-logo {
  grid-area: rss-logo;
  align-self: end;
}

.footer__yem-logo {
  grid-area: yem-logo;
  align-self: end;
}

.footer__copyright {
  grid-area: copyright;
  align-self: end;
  font-family: Roboto, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 1.8rem;
  line-height: 21px;
  color: #000;
}

.footer__reference {
  grid-area: reference;
  align-self: end;
  justify-self: end;
  font-family: Roboto, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 1.8rem;
  line-height: 21px;
  color: #000;
}

@media (max-width: 1919px) {
  .footer {
    background-image: url(../../assets/images/footer_bg_1200.png);
    background-position-y: -47px;
  }
  .footer__bg {
    width: 1200px;
  }
}

@media (max-width: 1199px) {
  .footer {
    background-image: url(../../assets/images/footer_bg_1200.png);
    background-position-y: -47px;
    background-position-x: center;
    background-size: 200%;
  }

  .footer__bg {
    width: 640px;
  }

  .footer__grid {
    width: 640px;
    height: 359px;
    box-sizing: border-box;
    padding: 80px 20px 20px;
    grid-template-areas:
      "zoo-logo ul-1 ul-1 ul-2"
      "rss-logo rss-logo yem-logo button"
      "reference reference reference reference"
      "copyright copyright copyright copyright";
    grid-template-columns: 155px 61px 150px 234px;
    grid-template-rows: 107px 100px 23px 38px;
  }

  .footer__btn {
    justify-self: end;
  }

  .btn_action_donate {
    width: 207px;
  }

  .footer__nav {
    width: 210px;
    justify-self: start;
  }

  .footer__nav-item {
    display: block;
    float: left;
    width: 49%;
    margin-bottom: 15px;
  }

  .footer__nav-link {
    font-family: Roboto, sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 1.8rem;
    line-height: 21px;
    color: #000;
    text-decoration: none;
  }

  .footer__contacts {
    display: flex;
    justify-self: end;
  }

  .contacts__img {
    margin-left: 10px;
  }

  .contacts__img:hover {
    border-radius: 50%;
    box-shadow: 1px 1px 7px #59c3fb;
  }

  .footer__rss-logo {
    grid-area: rss-logo;
    align-self: start;
    justify-self: start;
  }

  .footer__yem-logo {
    grid-area: yem-logo;
    align-self: start;
    justify-self: start;
  }

  .footer__copyright {
    align-self: center;
    justify-self: center;
  }

  .footer__reference {
    align-self: center;
    justify-self: center;
  }
}
