@font-face {
  font-family: SceneW01-Black;
  src: url(../../../assets/fonts/12309.ttf);
}
html {
  font-size: 10px;
}
/* header ------------------------------------------------------------------------------------------------------------ */

.page {
  position: relative;
}

.header {
  width: 1920;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: auto;
}

.header__flex {
  width: 1160px;
  padding: 0 380px 0;
  height: 80px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin: 0 auto -80px;
  z-index: 5;
}

.hidden-heading {
  position: absolute;
  visibility: hidden;
  z-index: -999;
}

.header__logo {
  margin-right: 57px;
}

.header__logo-img {
  width: 112px;
  height: 57px;
}

.header__nav {
  display: flex;
  align-items: center;
  width: 409px;
  justify-content: space-between;
}

.nav__list {
  display: flex;
  align-items: center;
  width: 409px;
  justify-content: space-between;
}

.nav__item {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 1.8rem;
  line-height: 21.09px;
  letter-spacing: normal;
  color: #000;
  text-decoration: none;
}

.nav__item:hover {
  text-shadow: 1px 1px 3px #70cb0e55;
}

.nav__item-highlighted {
  text-shadow: 1px 1px 0 #70cb0e, 1px -1px 0 #70cb0e, -1px 1px 0 #70cb0e,
    -1px -1px 0 #70cb0e, 0px 1px 0 #70cb0e, 1px -0px 0 #70cb0e,
    -1px 0px 0 #70cb0e, -0px -1px 0 #70cb0e;
  pointer-events: none;
}

/* Sidebar ------------------------------------------------------------------------------------------------------------ */

.side-bar {
  width: 111px;
  height: 380px;
  padding: 13px 27px 13px 20px;
  position: fixed;
  top: 287px;
  left: 0;
  background-image: url("../../../assets/images/toolbar_bg.png");
  background-position-y: 0;
  background-repeat: no-repeat;
  z-index: 10;
}

.side-bar__list {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 290px;
}

.side-bar__item_selected,
.side-bar__item {
  border-radius: 50%;
  width: 64px;
  height: 64px;
  margin-bottom: 8px;
  position: relative;
  display: flex;
  align-items: center;
}

.item__panda-pic {
  margin-top: 6px;
}

.side-bar__item:hover {
  box-shadow: 0px 0px 30px #70cb0e;
  transition: 0.5s;
}

.side-bar__item_selected {
  box-shadow: none;
}

.side-bar__tooltip {
  position: relative;
  display: flex;
  justify-items: center;
  align-items: center;
  min-width: fit-content;
  height: 47px;
  margin: 0;
  display: none;
}

.side-bar__item_selected:hover .side-bar__tooltip,
.side-bar__item:hover .side-bar__tooltip {
  display: flex;
}

.tooltip__tip {
  width: 9px;
  height: 9px;
}

.tooltip__text {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-width: 102px;
  width: fit-content;
  height: 47px;
  background: #70cb0e;
}

.tooltip__text {
  text-align: center;
  font-family: Roboto, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 1.6rem;
  line-height: 19px;
  color: #000;
}

/* main ------------------------------------------------------------------------------------------------------------ */

.main__article {
  width: 1920px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: auto;
  box-sizing: border-box;
}

.article__heading {
  text-align: center;
  font-family: Roboto, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 4rem;
  line-height: 47px;
  color: #000;
}

.text_uppercase {
  text-transform: uppercase;
}

/* Video ------------------------------------------------------------------------------------------------------------ */

.video__heading {
  margin-top: 160px;
}
.video__main-frame {
  width: 1160px;
  height: 653px;
  margin-top: 80px;
}

.video__wrapper {
  width: 1160px;
  margin-top: 20px;
  display: flex;
  justify-content: space-between;
}

.video__small-frame {
  width: 275px;
  height: 155px;
}

/* Information ------------------------------------------------------------------------------------------------------------ */

.inf {
  width: 100%;
  margin: 30px auto 0;
  box-sizing: border-box;
  padding: 0 380px;
}

.inf__grid {
  width: 1160px;
  margin: 0 auto 0;
  display: grid;
  grid-template-areas:
    "general general"
    "population habitat"
    "population habitat"
    "nutrition interesting"
    "nutrition interesting";
  grid-template-rows: 61px 61px 61px 61px 61px;
  grid-template-columns: 570px 570px;
  gap: 20px;
}

.article-grid__population {
  grid-area: population;
}

.article-grid__nutrition {
  grid-area: nutrition;
}

.article-grid__habitat {
  grid-area: habitat;
}

.article-grid__interesting {
  grid-area: interesting;
}

.inf_general {
  width: 1160px;
  height: 61px;
  background-color: #a7e1ff;
  box-sizing: border-box;
  padding: 20px;
  display: flex;
  align-content: center;
  justify-content: space-between;
  grid-area: general;
  font-family: Roboto, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 1.6rem;
  line-height: 19px;
  color: #000;
}

.general__text {
  width: 530px;
}

.inf__article-grid {
  width: 570px;
  height: 142px;
  background-color: #a7e1ff;
  box-sizing: border-box;
  padding: 20px;
  display: grid;
  grid-template-areas:
    "heading button"
    "text button";
  grid-template-rows: 19px auto;
  grid-template-columns: 470px 45px;
  row-gap: 7px;
  column-gap: 15px;
}

.inf__heading {
  grid-area: heading;
  font-family: Roboto, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 1.6rem;
  line-height: 19px;
  color: #000;
}

.inf_text {
  grid-area: text;
  font-family: Roboto, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 1.6rem;
  line-height: 19px;
  color: #000;
}

.inf__btn_hide {
  grid-area: button;
  width: 45px;
  height: 45px;
  border-radius: 50%;
  background-image: url(../../../assets/icons/btn_hide.png);
  background-repeat: no-repeat;
  background-position: center;
  outline: none;
  align-self: center;
}

/* footer ------------------------------------------------------------------------------------------------------------ */

.footer {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 80px auto 0;
  padding-top: 20px;
  position: relative;
}

.footer__background-wrap {
  width: 100%;
  position: relative;
  background: #dff5b0;
}

.footer__bg {
  box-sizing: border-box;
  width: 1920px;
  height: 700px;
  padding: 0 380px;
  position: absolute;
  z-index: 1;
  overflow: hidden;
}

.footer__bg-img {
  margin-top: -290px;
  margin-bottom: -350px;
  position: absolute;
  z-index: -1;
  bottom: 349px;
}

.footer__grid {
  width: 1160px;
  height: 170px;
  padding: 80px 380px 20px;
  margin: 0 auto 0;
  display: grid;
  grid-template-areas:
    "zoo-logo button button ul-1 ul-2"
    "rss-logo yem-logo copyright copyright reference";
  grid-template-rows: 46px auto;
  grid-template-columns: 198px 174px 218px 256px auto;
}

.footer__logo {
  grid-area: zoo-logo;
}

.footer__logo-img {
  width: 98px;
  height: 50px;
}

.btn_action_donate {
  grid-area: button;
  width: 230px;
}

.btn {
  background-color: #70cb0e;
  border: 0px;
  border-radius: 25.5px;
  color: #000;
  height: 51px;
  font-family: Roboto, sans-serif;
  font-size: 1.8rem;
  cursor: pointer;
  outline: none;
}

.btn:hover {
  box-shadow: inset 0px 0px 10px rgba(0, 0, 0, 0.5);
}

.btn:active {
  box-shadow: inset 0px 0px 25px rgba(0, 0, 0, 0.8);
}

.footer__nav {
  width: 345px;
  grid-area: ul-1;
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.footer__nav-item {
  display: block;
  float: left;
  width: 49%;
  margin-bottom: 15px;
}

.footer__nav-link {
  font-family: Roboto, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 1.8rem;
  line-height: 21px;
  color: #000;
  text-decoration: none;
}

.footer__nav-link:hover {
  text-shadow: 1px 1px 3px #59c3fb;
}

.footer__contacts {
  grid-area: ul-2;
  display: flex;
  justify-self: end;
}

.contacts__img {
  margin-left: 10px;
}

.contacts__img:hover {
  border-radius: 50%;
  box-shadow: 1px 1px 7px #59c3fb;
}

.footer__rss-logo {
  grid-area: rss-logo;
  align-self: end;
}

.footer__yem-logo {
  grid-area: yem-logo;
  align-self: end;
}

.footer__copyright {
  grid-area: copyright;
  align-self: end;
  font-family: Roboto, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 1.8rem;
  line-height: 21px;
  color: #000;
}

.footer__reference {
  grid-area: reference;
  align-self: end;
  justify-self: end;
  font-family: Roboto, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 1.8rem;
  line-height: 21px;
  color: #000;
}
