.timer-field {
  width: 256px;
  height: 64px;
  background-color: #fff;
  margin: 0 auto 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-weight: 500;
  font-size: 36px;
  line-height: 30px;
  letter-spacing: 0.15px;
  color: rgba(0, 0, 0, 0.4);
}
