.nav-item {
  width: 96px;
  height: 64px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  color: #ffffff70;
}

.nav-item__img {
  width: 20px;
  height: 20px;
}

.nav-item__label {
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 15px;
  text-align: center;
  letter-spacing: 0.4px;
}

.nav-item_active {
  background-color: #1e88e5;
  color: #ffffff;
}
