/* Буду признателен за общие советы по структуре этого файла.
Пока что оставил в такjм виде, так как мне показалось, что так будет проще ориентироваться при проверке задания*/

/* Еще не понимаю, как решить следующую проблему: background width при 100%, я так понимаю,
приравнивается за 100% от width окна браузера, поэтому, когда появляется горизонтальная полоса прокрутки,
справа вылезает белое незакрашенное поле background body, я вставил костыль в виде придания цвета background body,
но как можно сделать, чтобы 100% width main привязывалось к body, а не окну браузера?*/

* {
  box-sizing: border-box;
}

body {
  background-color: #cccccc;
}

/* Common classes --------------------------------------------------------------------------------------*/

.content {
  width: 1440px;
  margin: auto;
  padding: 0px 120px;
}

.flex-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

/* Hover/active actions classes -------------------------------------------------------------------------------------*/

.pop-up:hover {
  position: relative;
  bottom: 4px;
}

.pop-up:active {
  position: relative;
  bottom: 4px;
}

.light-up:hover {
  color: #e39128;
}

.light-up:active {
  color: #8f5613;
}

.border-up:hover {
  border: 5px solid #cd6326;
  border-radius: 20px;
}

.border-up:active {
  border: 5px solid #8f5613;
  border-radius: 20px;
}

.bg-light-up:hover {
  background-size: 120%;
  background-color: #e39128;
  border-radius: 4px;
}

.bg-light-up:active {
  background-color: #8f5613;
  border-radius: 4px;
}

/* Text classes --------------------------------------------------------------------------------------*/

h1,
h2,
h3,
h4,
h5,
h6,
p,
a {
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  text-decoration: none;
}

.text-logo {
  font-family: "Roboto", sans-serif;
  font-size: 32px;
  line-height: 60px;
  color: #f7f7f7;
}

.text-h-orange {
  font-size: 48px;
  line-height: 72px;
  letter-spacing: 2px;
  color: #cd6326;
}

.text-h-dark {
  font-size: 48px;
  line-height: 72px;
  color: #333333;
}

.text-sh-grey {
  font-size: 24px;
  line-height: 36px;
  color: #666666;
}

.text-sh-dark {
  font-size: 27px;
  line-height: 40.5px;
  color: #333333;
}

.text-sh-light {
  font-size: 22px;
  line-height: 36px;
  color: #f7f7f7;
}

.text-menu-ui {
  font-size: 23px;
  line-height: 60px;
  color: #f7f7f7;
}

.text-regular-ui {
  font-family: "Roboto", sans-serif;
  font-size: 23px;
  line-height: 27px;
  color: #f7f7f7;
}

.text-regular-light {
  font-size: 18px;
  color: #f7f7f7;
  line-height: 27px;
}

.text-small-light {
  font-size: 17px;
  color: #f7f7f7;
  line-height: 27px;
}

/* Here we go --------------------------------------------------------------------------------------*/

.hero {
  width: 100%;
  background-color: #02160b;
}

.hero-content {
  height: 779px;
  background-image: url(assets/wildlife-head-bg-img.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 1440px 779px;
}

/* Header------------------------------------------------------------------------------------- */

.header {
  padding-top: 19px;
}

.header-logo {
  width: 222px;
}

.header-logo * {
  color: #f7f7f7;
}

.header-logo > img {
  width: 70px;
  height: 60px;
}

.header-nav {
  width: 480px;
}

.header-nav a {
  display: flex;
  color: #f7f7f7;
}

.header-nav button {
  width: 120px;
  height: 50px;
  color: #f7f7f7;
  background-color: transparent;
  border: 2px solid #cd6326;
  border-radius: 4px;
  outline: none;
}

.header-nav button:hover {
  background-color: #cd6326;
  border: 2px solid #cd6326;
  cursor: pointer;
}

.header-nav button:active {
  background-color: #8f5613;
  border: 2px solid #8f5613;
}

/* Survival------------------------------------------------------------------------------------- */

.survival {
  flex-direction: column;
  width: 274px;
  height: 340px;
  align-items: flex-start;
  margin-top: 120px;
}

.survival p {
  width: 274px;
  height: 108px;
}

.survival button {
  width: 160px;
  height: 60px;
  color: #f7f7f7;
  background-color: #cd6326;
  border: none;
  border-radius: 4px;
  outline: none;
}

.survival button:hover {
  background-color: #e39128;
  cursor: pointer;
}

.survival button:active {
  background-color: #8f5613;
}

/* Latest articles------------------------------------------------------------------------------------- */

.main {
  width: 100%;
  height: 1368px;
  flex-direction: column;
  align-items: center;
  text-align: center;
  background-color: #cccccc;
  background-position: center;
  background-size: 1440px 779px;
}

.latest-articles {
  padding: 121px;
}

.latest-articles h3 + h4 {
  margin: 19px 0 120px 0;
}

.latest-articles button {
  width: 30px;
  height: 70px;
  border: none;
  background: none;
  outline: none;
  cursor: pointer;
}

.latest-articles figure {
  width: 300px;
  height: 360px;
}

.latest-articles figure h4 {
  position: relative;
  bottom: 116px;
}

.latest-articles figure h5 {
  position: relative;
  bottom: 106px;
}

/* Get notified------------------------------------------------------------------------------------- */

.get-notified {
  padding: 62px 0;
}

.get-notified h4 {
  margin: 58px 0;
}

.email-input {
  width: 542px;
  height: 61px;
  margin: 0 -2px 0 0;
  background-color: #cccccc;
  border: 1px solid #666666;
  color: #333333;
  padding-left: 20px;
}

.email-button {
  width: 122px;
  height: 61px;
  color: #f7f7f7;
  background-color: #cd6326;
  border: none;
  border-radius: 0 6px 6px 0;
  outline: none;
}

.email-button:hover {
  background-color: #e39128;
  cursor: pointer;
}

.email-button:active {
  background-color: #8f5613;
}

/* Footer------------------------------------------------------------------------------------- */

.footer {
  width: 100%;
  background-color: #181617;
}

.footer-div {
  height: 360px;
  background-image: url(assets/wildlife-foot-bg-img.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 1440px 360px;
}

.footer-logo {
  width: 222px;
  margin-right: 14px;
}

.footer-logo > img {
  width: 70px;
  height: 60px;
}

.footer-nav {
  width: 476px;
}

.footer-nav a {
  color: #f7f7f7;
  /* Line #362------------------------------------------------------------------------------------- */
}

.contacts {
  width: 240px;
}

.fb,
.ig,
.pi,
.tg {
  display: block;
  width: 40px;
  height: 40px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: 40px 40px;
}

.fb {
  background-image: url(assets/fb-logo.svg);
}

.ig {
  background-image: url(assets/ig-logo.svg);
}

.pi {
  background-image: url(assets/pi-logo.svg);
}

.tg {
  background-image: url(assets/tg-logo.svg);
}
